{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

   teams

{% endblock %}


{% block content %}

<h1> This Seasons Teams!</h1>

<article>

<ul>

    {% for team in teams %}

<li>
                       <a href="/team/{{team.code}}"> {{ team.name }} </a>
    </li>            
      

            {% else %}

                <p>None!</p>


            {% endfor %}
</article>
<article>

        <h3>Register a new team for this season!</h3>

        <form action="/add" method="POST" id="newTask">
            <fieldset role="group">
          
            <input
                id="input"
                type="text"
                name="code"
                placeholder="Team Code"
                maxlength="3"
                required>

               <input
                id="input"
                type="text"
                name="name"
                placeholder="Team Name"
                required>
                
            <button id="addTask">Add Team</button>
            </fieldset>

        </form>

    </article>


{% endblock %}

